//---------------------
// Site Loader
.main {
    transition: opacity 2s ease-in;
    opacity: 0;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #f8f8f8;
    span {
        display: inline-block;
        background-color: purple;
        width: 0;
        height: 0;
        border-radius: 50%;
        margin: 0 8px;
        transform: translate3d(0);
        animation: bounce 0.6s infinite alternate;
        
        &:nth-child(2) {
            background-color: palevioletred;
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
    }
}
@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16, 0);
    }
}

//----------------------
// Animations
.birds {
    animation: birds infinite alternate 10s;
}
@keyframes birds {
    0% {
        top: 10%;
    }
    50% {
        right: 21%;
        top: 11%;
    }
    100% {
        right: 20%;
        top: 10%;
    }
}

.birds2 {
    animation: birds2 infinite alternate 10s;
}
@keyframes birds2 {
    0% {
        top: 30%;
    }
    50% {
        left: 21%;
        top: 31%;
    }
    100% {
        left: 20%;
        top: 30%;
    }
}

.birds3 {
    animation: birds3 infinite alternate 10s;
}
@keyframes birds3 {
    0% {
        top: 20%;
    }
    50% {
        right: 21%;
        top: 21%;
    }
    100% {
        right: 20%;
        top: 20%;
    }
}

.swiper-slide-active .story-title {
    position: relative;
    animation: story 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    color: rgba(255,255,255,0);

    @keyframes story {
        0% {
            color: rgba(255,255,255,0);
        }
        100% {
            color: rgba(255,255,255,1);
        }
    }
}

.swiper-slide-active .story-bold {
    position: relative;
    animation: storyBold 1s;
    animation-delay: .3s;
    top: 0;

    @keyframes storyBold {
        0% {
            top: -100px
        }
        100% {
            top: 0px
        }
    }
}

.swiper-slide-active .story-cursive {
    position: relative;
    animation: storyCursive 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    color: rgba(255,255,255,0);

    @keyframes storyCursive {
        0% {
            color: rgba(255,255,255,0);
        }
        100% {
            color: rgba(255,255,255,1);
        }
    }
}

.swiper-slide-active .story-cursive-lined {
    position: relative;
    animation: storyCursiveLined 1s;
    top: 0;
    
    @keyframes storyCursiveLined {
        0% {
            top: 200px
        }
        100% {
            top: 0px
        }
    }
    &:after {
        animation: storyLines 1s ease-out .8s;
        animation-fill-mode: forwards;
        animation-delay: .5s;
        transform-origin: center;
        
        @keyframes storyLines {
            0% {
                width: 0;
                transform-origin: center;
                
            }
            50% {
                width: 75%;
                transform: rotate(390deg);
            }
            75% {
                width: 112%;
                transform-origin: center;
                transform: rotate(330deg);
            }
            100% {
                width: 100%;
                transform-origin: center;
                transform: rotate(360deg);
            }
            
        }
    }
}

.swiper-slide-active .story-lined {
    position: relative;
    animation: storyLined 1s;
    top: 0;

    @keyframes storyLined {
        0% {
            left: -100px
        }
        100% {
            left: 0px
        }
    }
    &:after {
        position: absolute;
        animation: storyLines2 1s;
        animation-fill-mode: forwards;
        animation-delay: .7s;
        bottom: .12em;
        width: 0%;
        opacity: 0;

        @keyframes storyLines2 {
            0% {
                left: -200px;
                opacity: 0;
            }
            100% {
                left: 0px;
                opacity: 1;
                width: 100%;
            }
        }
    }
}

.swiper-slide-active .story-lead-left {
    position: relative;
    animation: storyLeadLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    color: rgba(255,255,255,0);

    @keyframes storyLeadLeft {
        0% {
            color: rgba(255,255,255,0);
            left: -100px;
        }
        100% {
            color: rgba(255,255,255,1);
            left: 0;
        }
    }
    &:before {
        animation: storyLeadLeftLine 1s;
        animation-fill-mode: forwards;
        animation-delay: 1.7s;
        position: absolute;

        @keyframes storyLeadLeftLine {
            0% {
                left:0;
                opacity: 0;
            }
            100% {
                opacity: 1;
                left:0;
            }
        }
    }
}

.swiper-slide-active .story-lead-right {
    position: relative;
    animation: storyLeadRight 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    color: rgba(255,255,255,0);

    @keyframes storyLeadRight {
        0% {
            color: rgba(255,255,255,0);
            right: -100px;
        }
        100% {
            color: rgba(255,255,255,1);
            right:0;
        }
    }
    &:before {
        animation: storyLeadRightLine 1s;
        animation-fill-mode: forwards;
        animation-delay: 1.7s;
        position: absolute;

        @keyframes storyLeadRightLine {
            0% {
                right:0;
                opacity: 0;
            }
            100% {
                opacity: 1;
                right:0;
            }
        }
    }
}

.swiper-slide-active blockquote {
    animation: storyQoutes 1s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
    position: absolute;

    @keyframes storyQoutes {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}



