/* 

Name: Fullpage website
Author: Jon Spets
Version: 1.0

*/

@import 'config';


* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
}

main {
    height: 100vh;
    overflow: hidden;
}
section {
    position: relative;
    height: 100vh;
    background: #555;

    &:nth-child(1) {
        background: blue;
    }
    &:nth-child(2) {
        background: blueviolet;
    }
    &:nth-child(3) {
        background: violet;
    }
    &:nth-child(4) {
        background: orchid;
    }
}
.content {
    position: relative;

    > ul {
        position: fixed;
        transform: translateY(-50%);
        right: 10%;
        top: 50%;
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    
        > li {
            width: 10px;
            height: 10px;
            border: 1px solid pink;
            border-radius: 50px;
            margin: 5px;
    
            &.selected-section {
                background: #fff;
            }
        }
    }
}

.text {
    position: absolute;
    top: 50%;
    left: 20%;

    opacity: 0;
    transform: translate(100px);
    transition: all 0.5s 0.5s;
}
.text.show {
    opacity: 1;
    transform: translate(0);

}

// Navigation Section
.nav { 
    position: fixed;
    top: 20px;
    left: 20px;

    &-btn {
        padding: 10px;
        border: 0;
        border-radius: 5px;
        font-size: 1.6rem;
    }
}

// Carousel Section
.carousel-wrapper {
    width: 60%;
    margin: 10px auto;
    
}
.carousel {
    border: 2px solid greenyellow;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.slider {
    height: 100%;
    width: 400%;
    border: 1px solid red;
    display: flex;
    transition: all 0.3s;
}
.slider .slider-section {
    flex-basis: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
.controls > ul {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 10px;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    li {
        width: 10px;
        height: 10px;
        border: 1px solid pink;
        border-radius: 50px;
        margin: 5px;

        &.selected {
            background: #fff;
        }
    }
}
.arrow.left {
    left: 10px;
}
.arrow.right {
    right: 10px;
}

